<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style-perfil.css">
    <title>Pasta da Esperança</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>

<body>

    <header class="cabecalho">

        <nav class="navbar">

            <!-- Logo -->
            <div class="logo">
                <img src="../static/assets/IMAGEM-01.png" alt="Patas da Esperança">
            </div>

            <!-- Menu -->
            <div class="menu">
                
                <a href="#">Adoção</a>

                <a href="#">Doação</a>

                <a href="#">Blog</a>

                <a href="#">Sobre</a>




            </div>

            <div class="usuario">

                <a href="#" class="btn-login">
                    Login
                </a>

                <!-- Quando estiver logado -->

                <img src="../static/assets/peefil.jpeg" alt="Foto do usuário" class="avatar">

            </div>

            </div>

            <!-- Usuário -->


        </nav>

    </header>

    <main>

        <section class="hero">

            <!-- Lado Esquerdo -->
            <div class="hero-texto">

                <h1>
                    Pastas da Esperança
                </h1>

                <p>
                    Transformando vidas através do cuidado, proteção e amor aos animais.
                    Cada gesto seu pode salvar uma vida
                </p>

                <div class="hero-botoes">

                    <a href="#" class="btn">
                        ❤️Quero Adotar
                    </a>

                    <a href="#" class="btn2">
                        📢Quero Denunciar
                    </a>

                </div>

                <div class="hero-botao-criar-conta">
                    <a href="cadastro" class="btn-cadastrar">
                        🚀 Criar Conta
                    </a>
                    <p>Acompanhe adoções, doações e ações da ONG</p>
                </div>

            </div>

            <!-- Lado Direito -->
            <div class="hero-imagem">

                <img src="../static/assets/hero-animals.jpg" alt="heros">

            </div>

        </section>

        <section class="metrica" aria-label="Indicadores do projeto">
            <div class="card-metrica">
                <div class="icone">🐾</div>
                <h2 id="total-resgatados"> <span>55.000</span></h2>
                <p>Animais Resgatados</p>
            </div>
            <div class="card-metrica">
                <div class="icone">❤️</div>

                <h2 id="total-adotados"><span>100.000 +</span></h2>

                <p>Animais Adotados</p>
            </div>

            <div class="card-metrica">
                <div class="icone">🛡️</div>

                <h2 id="total-casos"> <span>75.000 +</span></h2>

                <p>Casos Resolvidos</p>
            </div>

            <div class="card-metrica">
                <div class="icone">🤝</div>

                <h2 id="total-voluntarios"> <span>500.000 +</span></h2>

                <p>Voluntários Ativos</p>
            </div>




        </section>

    </main>

</body>

</html>